.goal-form {
  width: 90%;
  min-height: 192px;
  display: flex;
  align-items: center;
  margin-top: 10px;
  padding: 0px 50px;
}
.goal-form__enter-area {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.goal-form__enter-area label {
  font-size: 1.2rem;
  width: 100%;
  font-weight: bold;
}
.goal-form__enter-area input {
  width: 30rem;
  height: 1.8rem;
  border: none;
  border: 1px solid #d3d3d3;
  font-size: 1.2rem;
  text-indent: 3px;
  outline: none;
  transition: 0.3s;
}
.goal-form__enter-area input:focus {
  border: 1px solid #6c3357;
  outline: 1px solid #6c3357;
  background-color: #f8cae9;
}
.goal-form__actions-area button {
  border: none;
  height: 50px;
  padding: 0px 30px;
  margin-top: 10px;
  background-color: #800054;
  color: white;
  font-size: 1.2rem;
  cursor: pointer;
}
.goal-form__enter-area.invalid label {
  color: red;
}
.goal-form__enter-area.invalid input {
  border-color: red;
  background-color: rgb(252, 176, 176);
}
