* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.App {
  width: 40rem;
  height: 90vh;
  margin: 30px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}
