button {
  border: none;
  height: 50px;
  padding: 0px 30px;
  margin-top: 10px;
  background-color: #800054;
  color: white;
  font-size: 1.2rem;
  cursor: pointer;
  transition: 0.3s;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
button:hover {
  background-color: #c11183;
}
